extends templates/layout

block main
    .main
        .area-content
            .area-item
                h1.area-title Там где вышел
                .area-text
                    p Место вашего последнего выхода, доступно для входа обратно  в течении 30 минут,  после вы не можете войти.
                button.area-button ВЫБРАТЬ МЕСТО СПАВНА
            .area-item.area-indent
                h1.area-title Там где вышел
                .area-text
                    p Место вашего последнего выхода, доступно для входа обратно  в течении 30 минут,  после вы не можете войти.
                button.area-button ВЫБРАТЬ МЕСТО СПАВНА
            .area-item              
                h1.area-title Там где вышел
                .area-text
                    p Место вашего последнего выхода, доступно для входа обратно  в течении 30 минут,  после вы не можете войти.
                button.area-button ВЫБРАТЬ МЕСТО СПАВНА