extends templates/layout

block main
    .bank
        .bank-bg
            .bank-content
                .bank-main
                    .bank-exit
                    .bank-tab
                        .logotype
                            .desc ATM
                        .bank-menu
                            ul
                                li
                                    .icon.first
                                    .desc Пополнить
                                li
                                    .icon.second
                                    .desc Перевести
                                li
                                    .icon.four
                                    .desc Снять
                                .bank-card.active
                                    .card-icon
                                    span Карта
                                .bank-close
                                    .close-icon
                                    span Выход
                    .bank-section
                        .atm-choose
                            .bank-close
                                .close-icon
                                span Выход
                            .atm-choose-left
                                .atm-choose-title Личные карты
                                .atm-choose-cards
                                    .card
                                        .card-img
                                        .card-text Перевыпустить
                                    .card
                                        .card-img
                                        .card-text Перевыпустить
                            .atm-choose-right
                                .atm-choose-title Бизнес карты
                                .atm-choose-cards
                                    .card.active
                                        .card-img
                                        .card-text Перевыпустить
                .logo
                .bank-area
                    .bank-block
                        .linear
                    .bank-block
                        .linear