extends templates/layout

block main
    .bank
        .bank-bg
            .bank-content
                .bank-main
                    .bank-missing
                        .missing-top
                            .missing-top-img
                            .missing-top-text ATM
                        .missing-middle
                            .missing-middle-title Отсутствуют банковские карты
                            .missing-middle-text Чтобы воспользоваться банкоматом вам необходима банковская карта.  Её можно получить в банке.
                        .missing-bottom-btn Выход

                .logo
                .bank-area
                    .bank-block
                        .linear
                    .bank-block
                        .linear