extends templates/layout

block main
    .bank
        .bank-bg
            .bank-content
                .bank-main
                    .bank-exit
                    .bank-tab
                        .logotype
                            .desc BANK
                        .bank-menu
                            ul
                                li
                                    .icon.first
                                    .desc Пополнить
                                li
                                    .icon.second
                                    .desc Перевести
                                li.active
                                    .icon.third
                                    .desc Налоги
                                li
                                    .icon.four
                                    .desc Снять
                            .bank-close
                                .close-icon.back
                                span Назад
                    .bank-more
                        .bank-out
                            .bank-group
                                .bank-avatar M
                                .bank-info
                                    .title Maxim Temny
                                    .subtitle  Банковский счет
                            .bank-outter
                                .bank-cash  
                                    .bank-cost Наличные
                                    .bank-number $1 323 322
                                .bank-cash
                                    .bank-cost На счету
                                    .bank-number $2 142 653
                        .bank-information
                            .bank-inners
                                .bank-items Строберри-авеню, 124 
                                    span Жилье
                                .bank-outlet
                                    .bank-left
                                        .bank-person
                                            .title Адрес:
                                                span  Строберри-авеню, дом 124
                                        .bank-person
                                            .title Класс дома:
                                                span  E
                                        .bank-person
                                            .title Площадь: 
                                                span 624 кв.м
                                        .bank-person
                                            .title Количество комнат:
                                                span 3
                                        .bank-person
                                            .title Гараж: 
                                                span есть
                                        .bank-person
                                            .title Вместимость гаража: 
                                                span 2

                            .bank-side
                                .bank-price $1485
                                button.bank-order Оплатить
                                .line
                                .bank-person
                                    .title Кварплата: 
                                    span $47/день
                                .bank-person
                                    .title Кварплата: 
                                    span $47/день


                            
                .logo
                .bank-area
                    .bank-block
                        .linear
                    .bank-block
                        .linear