extends templates/layout

block main
    .bank
        .bank-bg
            .bank-content
                .bank-main
                    .bank-exit
                    .bank-tab
                        .logotype
                            .desc BANK
                        .bank-menu
                            ul
                                li
                                    .icon.first
                                    .desc Пополнить
                                li
                                    .icon.second
                                    .desc Перевести
                                li.active
                                    .icon.third
                                    .desc Налоги
                                li
                                    .icon.four
                                    .desc Снять
                                    
                    .bank-more
                        .bank-out
                            .bank-group
                                .bank-avatar M
                                .bank-info
                                    .title Maxim Temny
                                    .subtitle  Банковский счет
                            .bank-outter
                                .bank-cash  
                                    .bank-cost Наличные
                                    .bank-number $1 323 322
                                .bank-cash
                                    .bank-cost На счету
                                    .bank-number $2 142 653
                        .bank-cards
                            .bank-items Строберри-авеню, 124 
                                span Жилье
                            .bank-items Магазин одежды
                                span Бизнес
                            .bank-items Заправка
                                span Бизнес
                            .bank-items Мирклс-авеню, 28
                                span Жилье
                            .bank-items Мирклс-авеню, 28
                                span Жилье
                .logo
                .bank-area
                    .bank-block
                        .linear
                    .bank-block
                        .linear