extends templates/layout

block main
    .main
        .contents-main
            .contents-box
                .contents-block
                    .contents-boxes
                        .contents-avatar
                            span.content-span 34 ур
                        .contents-info
                            h3.contents-title  Nikita_Shender
                            .contents-flex
                                .contents-desc Ваш опыт
                                .contents-text 20/80
                            .contents-flex
                                .contents-desc  Номер телефона
                                .contents-text 176234
                            .contents-flex
                                .contents-desc Фракция
                                .contents-text Goverment
                            .contents-flex
                                .contents-desc Предупреждения
                                .contents-text 0/ 3
                            .contents-flex
                                .contents-desc Лицензии
                                .contents-text 0/ 3
                    .contents-nav
                        ul
                            li
                                a(href="").active
                                    .contents-icon.home
                                    |  Недвижимость
                            li
                                a(href="")
                                    .contents-icon.transport
                                    |  Транспорт

                            li
                                a(href="")
                                    .contents-icon.organization
                                    |  Организация
                            li
                                a(href="")
                                    .contents-icon.bysenec
                                    |  Бизнес
                            li
                                a(href="")
                                    .contents-icon.skill
                                    |  Навыки

            .contents-item  
                h1.contents-head Недвижимость       
                .contents-accordion
                    .accordion-item.active
                        .accordion-title МАГАЗИН ОДЕЖДЫ
                        .accordion-icon
                    .accordion-main
                        .accordion-box
                            .accordion-boxes
                                .accordion-subtitle НАЗВАНИЕ
                                .accordion-subtext МАГАЗИН ОДЕЖДЫ
                            .accordion-boxes
                                .accordion-subtitle СТОИМОСТЬ
                                .accordion-subtext 45000
                        .accordion-box
                            .accordion-boxes
                                .accordion-subtitle АДРЕС
                                .accordion-subtext СПЭШН-АВЭНЮ
                            .accordion-boxes
                                .accordion-subtitle СТАТУС
                                .accordion-subtext ОТКРЫТ
                .contents-accordion
                    .accordion-item
                        .accordion-title МАГАЗИН ОДЕЖДЫ
                        .accordion-icon
                .contents-accordion
                    .accordion-item
                        .accordion-title МАГАЗИН ОДЕЖДЫ
                        .accordion-icon
                .contents-accordion
                    .accordion-item
                        .accordion-title МАГАЗИН ОДЕЖДЫ
                        .accordion-icon
                .contents-accordion
                    .accordion-item
                        .accordion-title МАГАЗИН ОДЕЖДЫ
                        .accordion-icon


                    

                    

