extends templates/layout

block main
    .main
        .profile-create(style="height: 780px;")
            h4.profile-titles Создание персонажа
            .profile-subtext
                p Художественная видимость монотонно начинает стиль, однако само по себе состояние игры всегда амбивалентно.
            .profile-block
                .profile-top
                    .profile-character
                        p Лоб
                    .profile-character
                        p Стандарт
                .profile-bar
                    .profile-point.begin
                    .profile-point.middle
                    .profile-point.end  
            .profile-block
                .profile-top
                    .profile-character
                        p Лоб
                    .profile-character
                        p Стандарт
                .profile-bar
                    .profile-point.begin
                    .profile-point.middle
                    .profile-point.end  
            .profile-block
                .profile-top
                    .profile-character
                        p Лоб
                    .profile-character
                        p Стандарт
                .profile-bar
                    .profile-point.begin.progress-1
                    .profile-point.middle.active
                    .profile-point.end  
            .profile-block
                .profile-top
                    .profile-character
                        p Лоб
                    .profile-character
                        p Стандарт
                .profile-bar
                    .profile-point.progress-2.begin.active
                    .profile-point.middle.active
                    .profile-point.end.active
            .profile-block
                .profile-top
                    .profile-character
                        p Лоб
                    .profile-character
                        p Стандарт
                .profile-level
                    .profile-percent.active
                    .profile-percent.active
                    .profile-percent.active
                    .profile-percent.active
                    .profile-percent
                    .profile-percent
                    .profile-percent
                    .profile-percent
                    .profile-percent
            a(href="")
                img(src="img/arrow-down.svg", alt="arrow-down   ").profile-scroll
            .profile-enter
                button.profile-button.profile-button--right ПРОДОЛЖИТЬ
                button.profile-btn ОТМЕНИТЬ
            a(href="").profile-back Назад