extends templates/layout

block main
    .incasator
        .incasator-bg
            .incasator-content  
                .head Работа инкассаторов
                .incasator-main
                    .incasator-item
                        .title Выбор группы
                        .incasator-nav
                            ul
                                li Группа #1
                                    .block
                                        .icon.white
                                        span 1/4
                                li Группа #2
                                    .block
                                        .icon.white
                                        span 2/4
                                li  Группа #3
                                    .block
                                        .icon.white
                                        span 2/4
                                li.active Группа #4
                                    .block
                                        .icon.white
                                        span 3/4
                                li Группа #5
                                    .block
                                        .icon.white
                                        span 1/4

                    .incasator-box
                        .exit
                        .incasator-inner    
                            .title Список игроков
                            .block
                                .icon
                                span 3/4
                        .incasator-subname Maximtemny
                        .incasator-subname Korneykustikov
                        .incasator-subname Alexstpnov
                        button Начать работу        
                        
                        

