extends templates/layout

block main
    .main
        .inventory-row
            .inventory-item
                .inventory-block
                    .inventory-aside
                        .inventory-unit.blue
                        .inventory-card
                            .inventory-progress
                                .inventory-progress--active.progress-blue
                    .inventory-aside
                        .inventory-unit.red
                        .inventory-card
                            .inventory-progress
                                .inventory-progress--active.progress-red
                .inventory-object.inventory-height--small
                    .inventory-desc ПРЕДМЕТЫ РЯДОМ
                    .inventory-content
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                .inventory-desc БЫСТРЫЙ ДОСТУП      
                .inventory-access
                    .inventory-column
                        .inventory-boxes
                            span.inventory-number 1     
                        .inventory-boxes
                            span.inventory-number 2   
                        .inventory-boxes
                            span.inventory-number 3   
                        .inventory-boxes
                            span.inventory-number 4   
                        .inventory-boxes
                            span.inventory-number 5   
                        .inventory-boxes
                            span.inventory-number 6   

            .inventory-box  
                .inventory-subtitle ИНВЕНТАРЬ
                h1.inventory-title NIKITA_SHENDER
                .inventory-person
                    .inventory-group
                        .inventory-cell.jason-icon
                        .inventory-cell.active-cell.eyeglasses-icon
                        .inventory-cell.earrings-icon
                        .inventory-cell.necklace-icon
                        .inventory-cell.tie-icon
                        .inventory-cell.reee-icon
                    .inventory-man
                        .inventory-more
                            .inventory-cell.clock-icon
                            .inventory-cell.gloves-icon

                    .inventory-group
                        .inventory-cell.cap-icon
                        .inventory-cell.clothes-icon
                        .inventory-cell.arm-icon
                        .inventory-cell.tshirt-icon
                        .inventory-cell.jogger-icon
                        .inventory-cell.shoes-icon
                .inventory-setting НАСТРОЙКИ
            .inventory-item     
                .inventory-object.inventory-height--large
                    .inventory-desc КУРТКА
                    .inventory-content
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                    .inventory-desc РЮКЗАК
                    .inventory-content
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                    .inventory-desc ШТАНЫ
                    .inventory-content
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                        .inventory-column
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes
                            .inventory-boxes

                .inventory-desc АНИМАЦИИ      
                .inventory-access
                    .inventory-column
                        .inventory-boxes
                            span.inventory-number 1     
                        .inventory-boxes
                            span.inventory-number 2   
                        .inventory-boxes
                            span.inventory-number 3   
                        .inventory-boxes
                            span.inventory-number 4   
                        .inventory-boxes
                            span.inventory-number 5   
                        .inventory-boxes
                            span.inventory-number 6   