extends templates/layout

block main
    .mafia
        .mafia-bg
            .mafia-item
                .mafia-inner.gray
                    .more
                        .title УПРАВЛЕНИЕ
                        .subtitle.gray СОСТАВОМ
                    button.gray ПРИГЛАСИТЬ
                .mafia-block.gray
                    .more
                        .title ОБЩАК    
                        .desc СОСТАВА
                    .price 2.097.324$

            .mafia-box.gray
                .mafia-outter.gray
                    .mafia-player.gray ИГРОКИ
                    .mafia-count
                        .more
                            span.gray.active 234 
                            .change / 
                            span 42
                        .online
                .scroll
                    .mafia-info
                        .mafia-icon.gray A
                        .much
                            .subtitle Andrey Petrovich
                            .subdesc.gray  Дипломат
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.gray A
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.gray Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.gray K
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.gray Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.gray F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.gray Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.gray F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.gray Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.gray F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.gray Смотрящий
                        .mafia-icon-bg
                    