extends templates/layout

block main
    .mafia
        .mafia-bg
            .mafia-item
                .mafia-inner.yellow
                    .more
                        .title УПРАВЛЕНИЕ
                        .subtitle.yellow СОСТАВОМ
                    button.yellow ПРИГЛАСИТЬ
                .mafia-block.yellow
                    .more
                        .title ОБЩАК    
                        .desc СОСТАВА
                    .price 2.097.324$

            .mafia-box.yellow
                .mafia-outter.yellow
                    .mafia-player.yellow ИГРОКИ
                    .mafia-count
                        .more
                            span.yellow.active 234 
                            .change / 
                            span 42
                        .online
                .scroll
                    .mafia-info
                        .mafia-icon.yellow A
                        .much
                            .subtitle Andrey Petrovich
                            .subdesc.yellow  Дипломат
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.yellow A
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.yellow Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.yellow K
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.yellow Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.yellow F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.yellow Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.yellow F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.yellow Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.yellow F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.yellow Смотрящий
                        .mafia-icon-bg
                    