extends templates/layout

block main
    .mafia
        .mafia-bg
            .mafia-item
                .mafia-inner.blue
                    .more
                        .title УПРАВЛЕНИЕ
                        .subtitle.blue СОСТАВОМ
                    button.blue ПРИГЛАСИТЬ
                .mafia-block.blue
                    .more
                        .title ОБЩАК    
                        .desc СОСТАВА
                    .price 2.097.324$

            .mafia-box.blue
                .mafia-outter.blue
                    .mafia-player.blue ИГРОКИ
                    .mafia-count
                        .more
                            span.blue.active 234 
                            .change / 
                            span 42
                        .online
                .scroll
                    .mafia-info
                        .mafia-icon.blue A
                        .much
                            .subtitle Andrey Petrovich
                            .subdesc.blue  Дипломат
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.blue A
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.blue Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.blue K
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.blue Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.blue F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.blue Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.blue F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.blue Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.blue F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.blue Смотрящий
                        .mafia-icon-bg
                    