extends templates/layout

block main
    .mafia
        .mafia-bg
            .mafia-item
                .mafia-inner.violet
                    .more
                        .title УПРАВЛЕНИЕ
                        .subtitle.violet СОСТАВОМ
                    button.violet ПРИГЛАСИТЬ
                .mafia-block.violet
                    .more
                        .title ОБЩАК    
                        .desc СОСТАВА
                    .price 2.097.324$

            .mafia-box.violet
                .mafia-outter.violet
                    .mafia-player.violet ИГРОКИ
                    .mafia-count
                        .more
                            span.violet.active 234 
                            .change / 
                            span 42
                        .online
                .scroll
                    .mafia-info
                        .mafia-icon.violet A
                        .much
                            .subtitle Andrey Petrovich
                            .subdesc.violet  Дипломат
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.violet A
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.violet Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.violet K
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.violet Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.violet F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.violet Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.violet F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.violet Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.violet F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.violet Смотрящий
                        .mafia-icon-bg
                    