extends templates/layout

block main
    .mafia
        .mafia-bg
            .mafia-item
                .mafia-inner.sal
                    .more
                        .title УПРАВЛЕНИЕ
                        .subtitle.sal СОСТАВОМ
                    button.sal ПРИГЛАСИТЬ
                .mafia-block.sal
                    .more
                        .title ОБЩАК    
                        .desc СОСТАВА
                    .price 2.097.324$

            .mafia-box.sal
                .mafia-outter.sal
                    .mafia-player.sal ИГРОКИ
                    .mafia-count
                        .more
                            span.sal.active 234 
                            .change / 
                            span 42
                        .online
                .scroll
                    .mafia-info
                        .mafia-icon.sal A
                        .much
                            .subtitle Andrey Petrovich
                            .subdesc.sal  Дипломат
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.sal A
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.sal Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.sal K
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.sal Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.sal F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.sal Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.sal F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.sal Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.sal F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.sal Смотрящий
                        .mafia-icon-bg
                    