extends templates/layout

block main
    .mafia
        .mafia-bg
            .mafia-item
                .mafia-inner.orange
                    .more
                        .title УПРАВЛЕНИЕ
                        .subtitle.orange СОСТАВОМ
                    button.orange ПРИГЛАСИТЬ
                .mafia-block.orange
                    .more
                        .title ОБЩАК    
                        .desc СОСТАВА
                    .price 2.097.324$

            .mafia-box.orange
                .mafia-outter.orange
                    .mafia-player.orange ИГРОКИ
                    .mafia-count
                        .more
                            span.orange.active 234 
                            .change / 
                            span 42
                        .online
                .scroll
                    .mafia-info
                        .mafia-icon.orange A
                        .much
                            .subtitle Andrey Petrovich
                            .subdesc.orange  Дипломат
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.orange A
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.orange Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.orange K
                            .online
                        .much
                            .subtitle Kirill Sabirov
                            .subdesc.orange Уголовник
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.orange F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.orange Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.orange F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.orange Смотрящий
                        .mafia-icon-bg
                    .mafia-info
                        .mafia-icon.orange F
                        .much
                            .subtitle Fedor Ivanovich
                            .subdesc.orange Смотрящий
                        .mafia-icon-bg
                    