extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.road
                .mobile-container
                    .mobile-row
                        .mobile-inners
                            a(href="").mobile-exit
                                img(src="img/mobile-road-arrow.svg", alt="mobile-arrow-back")
                            .mobile-textalite Новый заказ   
                        .mobile-coordination.first 
                        .mobile-coordination.second 
                        .mobile-sidebar
                            .title Max Temny
                            .text Ехать до заказчика: 00:25 мин.
                            .block
                                .desc 18 августа, 02:35<br>LA, SubUrban 21
                                .time 00:49
                            .groups
                                button.mobile-buttons Принять
                                button.mobile-btn  Отклонить
