extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.orange
                .mobile-container
                    .mobile-row
                        .mobile-inner
                            a(href="").mobile-exit
                                img(src="img/mobile-arrow-left.svg", alt="mobile-arrow-back")
                                .mobile-text Меню                    
                    .mobile-select
                        .mobile-mores  
                            .mobile-items
                                .title Max Temny
                                .text Уровень водителя: 3
                            .mobile-boxes
                                .mobile-items
                                    .title 3250
                                    .text Поездки
                                .mobile-items.left
                                    .title 34,5k $
                                    .text Заработано
                        .mobile-value
                            .mobile-auto
                                .mobile-img.first
                                .mobile-inform
                                    .title Baller LE LWB
                                    .text Необходимо поездок:
                                    .number 0850
                            .mobile-auto
                                .mobile-img.second
                                .mobile-inform
                                    .title Massacro
                                    .text Необходимо поездок:
                                    .number 2150
                            .mobile-auto
                                .mobile-img.three
                                .mobile-inform
                                    .title Pegassi Reaper
                                    .text Необходимо поездок:
                                    .number 8150


