extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.orange
                .mobile-container
                    .mobile-row
                        .mobile-inner
                            a(href="").mobile-exit
                                img(src="img/mobile-arrow-left.svg", alt="mobile-arrow-back")
                                .mobile-text Назад                     
                    .mobile-taxi
                    
                        .mobile-title Rich
                            span Taxi
                        .mobile-subtitle Начни работу в такси<br>с мгновенными выплатами
                        .mobile-car
                        button.mobile-button Начать работу


