extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.orange
                .mobile-container
                    .mobile-row
                        .mobile-inner
                            a(href="").mobile-exit
                                img(src="img/mobile-arrow-left.svg", alt="mobile-arrow-back")
                                .mobile-text Меню                    
                    .mobile-order.inner
                        .mobile-flex.mobile-more
                            .mobile-leads
                                .mobile-name L.S. SubUrban
                                .mobile-road До заказчика: 24.32км.
                            .mobile-name L.S. SubUrban
                        .mobile-groups.mobile-outter
                            .mobile-items
                                .mobile-times 00:09
                                .mobile-desc Время на поездку
                            button.mobile-btn.green Принять
                    .mobile-order.inner
                        .mobile-flex.mobile-more
                            .mobile-leads
                                .mobile-name L.S. SubUrban
                                .mobile-road До заказчика: 28.18км.
                            .mobile-name L.S. Florida 34b
                        .mobile-groups.mobile-outter
                            .mobile-items
                                .mobile-times 00:13
                                .mobile-desc Время на поездку
                            button.mobile-btn.green Принять
                    .mobile-order.inner
                        .mobile-flex.mobile-more
                            .mobile-leads
                                .mobile-name L.S. SubUrban
                                .mobile-road До заказчика: 28.18км.
                            .mobile-name L.S. Florida 34b
                        .mobile-groups.mobile-outter
                            .mobile-items
                                .mobile-times 00:13
                                .mobile-desc Время на поездку
                            button.mobile-btn.green Принять
                    .mobile-order.inner
                        .mobile-flex.mobile-more
                            .mobile-leads
                                .mobile-name L.S. SubUrban
                                .mobile-road До заказчика: 28.18км.
                            .mobile-name L.S. Florida 34b
                        .mobile-groups.mobile-outter
                            .mobile-items
                                .mobile-times 00:13
                                .mobile-desc Время на поездку
                            button.mobile-btn.green Принять


