extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.dark
                .mobile-container
                    .mobile-avatars
                        .mobile-icons
                            span M
                        .join
                            .subtitle Max Temny
                            .call 13:05
                    .mobile-links
                                

                            
