extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-logo MOBI
            .mobile-bg
                .mobile-block
                    .mobile-time 18:30
                    .mobile-date Четверг, 8 августа
                .mobile-box
                    .mobile-phone
                        span.mobile-span 2
                    .mobile-message
                        span.mobile-span 2
                    .mobile-locked
                        .icon-locked
                    .mobile-network    
                    .mobile-battery

        