extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.dark
                .mobile-container
                    .mobile-row
                        .mobile-inner
                            a(href="").mobile-exit
                                img(src="img/mobile-road-arrow.svg", alt="mobile-arrow-back")
                                .mobile-text.white Набор номера 
                    .mobile-telephone
                        .title 456 823
                        .desc Max Temny
                        .mobile-call
                            .mobile-circle
                                span 1
                            .mobile-circle
                                span 2
                            .mobile-circle
                                span 3
                            .mobile-circle
                                span 4
                            .mobile-circle
                                span 5
                            .mobile-circle
                                span 6
                            .mobile-circle
                                span 7
                            .mobile-circle
                                span 8
                            .mobile-circle
                                span 9
                            .mobile-circle
                                span *
                            .mobile-circle
                                span 0
                            .mobile-circle
                                span #
                            .mobile-blocks
                                .mobile-call
                                .mobile-exit
                                

                            
