extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.taxi
                .mobile-container
                    .mobile-row
                        .mobile-inner
                            a(href="").mobile-exit
                                img(src="img/mobile-road-arrow.svg", alt="mobile-arrow-back")
                                .mobile-text.gray Назад
                    .mobile-taxiclient
                        .mobile-taxiclient-logo <span class="mobile-taxiclient-logo-bold">Taxi</span> Client
                        .mobile-taxiclient-text Скройте телефон, зайдите в карту и назначьте пункт, куда вы хотите поехать.
                .mobile-taxi-bottom-preview