extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.message
                .mobile-container
                    .mobile-row
                        .mobile-inner
                            a(href="").mobile-back
                                img(src="img/mobile-arrow-back.svg", alt="mobile-arrow-back")
                            .mobile-items
                                .mobile-surname Max Temny   
                                .mobile-online online
                    .line
                    .welcome-day Сегодня
                    .welcome-contents
                        .mobile-columns.left
                            .mobile-icon М
                            .mobile-out
                                .mobile-message Как тебе сегодняшняя игра с нами? Думаю завтра еще сыграть...
                                    .mobile-time 21:40
                        .mobile-columns.right
                            .mobile-communication Давай) Во сколько?    
                                .mobile-time 21:40
                            .mobile-communication Могу после 22:00   
                                .mobile-time 21:40

                        .mobile-columns.left
                            .mobile-icon М
                            .mobile-out
                                .mobile-message Согласен, только давай без Алекса сегодня, мне не нравится с ним...
                                    .mobile-time 21:52
                                .mobile-message Вчера было видно как он сливал игру ((
                                    .mobile-time 21:52
                        .mobile-columns.right
                            .mobile-communication Ахахахахахаха 
                                .mobile-time 21:55
                            .mobile-communication Полностью согласен 
                                .mobile-time 21:55
                            .mobile-communication Ему явно не перло
                                .mobile-time 21:56
                            .mobile-communication Ладно окей бро
                                .mobile-time 21:56
                            .mobile-communication Я ушел) Споки
                                .mobile-time 21:56

                .mobile-attachment
                    .mobile-files
                    input(type="text",placeholder="Введите сообщение...").mobile-input
                    .mobile-send 
                .mobile-aside
                    .mobile-more
                        .mobile-menu
                            ul
                                li
                                    a(href="") Фото или видео
                                li
                                    a(href="") Геопозиция
                        a(href="").mobile-button Отменить



