extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.locked
                .mobile-case
                    .mobile-group
                        .mobile-more
                            .mobile-money
                                .icon-money $
                            .mobile-text Кейсы
                        button.mobile-button Открыть кейс
                    .mobile-linear
                        .mobile-circle
                            .circle
                        .mobile-tape Live Лента
                    .mobile-content
                        .mobile-news
                            .mobile-name Alexey_Sviridov (324)
                            .mobile-info Кроссовки Nike Air 
                                span (#2)
                        .mobile-news
                            .mobile-name Maxim_temny (312)
                            .mobile-info Кроссовки Nike Air 
                                span (#3)
                        .mobile-news
                            .mobile-name Stpnov_Alex (222)
                            .mobile-info Перчатки Stone Island
                                span (#1)
                        .mobile-news
                            .mobile-name Osokin.D (234)
                            .mobile-info Кроссовки Puma Spot
                                span (#3)
                    .swiper-container.mobile-slider
                        .swiper-wrapper
                            .swiper-slide
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.cum
                                        .mobile-subdesc Камера
                                    .mobile-col    
                                        .mobile-icon.explorer
                                        .mobile-subdesc Интернет
                                    .mobile-col    
                                        .mobile-icon.contact    
                                        .mobile-subdesc Контакты
                                    .mobile-col    
                                        .mobile-icon.message     
                                        .mobile-subdesc Cообщения
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.auto
                                        .mobile-subdesc Эвакуатор
                                    .mobile-col    
                                        .mobile-icon.health
                                        .mobile-subdesc Здоровье
                                    .mobile-col    
                                        .mobile-icon.taxi    
                                        .mobile-subdesc Такси
                                    .mobile-col    
                                        .mobile-icon.settings     
                                        .mobile-subdesc Настройки
                                
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.calendar
                                        .mobile-subdesc Календарь
                                    .mobile-col    
                                        .mobile-icon.map
                                        .mobile-subdesc Карта
                                    .mobile-col           
                                        .mobile-icon.clock    
                                        .mobile-subdesc Часы
                                    .mobile-col    
                                        .mobile-icon.shop     
                                        .mobile-subdesc Магазин
                            .swiper-slide
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.auto
                                        .mobile-subdesc Эвакуатор
                                    .mobile-col    
                                        .mobile-icon.health
                                        .mobile-subdesc Здоровье
                                    .mobile-col    
                                        .mobile-icon.taxi    
                                        .mobile-subdesc Такси
                                    .mobile-col    
                                        .mobile-icon.settings     
                                        .mobile-subdesc Настройки
                                
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.cum
                                        .mobile-subdesc Камера
                                    .mobile-col    
                                        .mobile-icon.explorer
                                        .mobile-subdesc Интернет
                                    .mobile-col    
                                        .mobile-icon.contact    
                                        .mobile-subdesc Контакты
                                    .mobile-col    
                                        .mobile-icon.message     
                                        .mobile-subdesc Cообщения
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.calendar
                                        .mobile-subdesc Календарь
                                    .mobile-col    
                                        .mobile-icon.map
                                        .mobile-subdesc Карта
                                    .mobile-col           
                                        .mobile-icon.clock    
                                        .mobile-subdesc Часы
                                    .mobile-col    
                                        .mobile-icon.shop     
                                        .mobile-subdesc Магазин
                            .swiper-slide
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.calendar
                                        .mobile-subdesc Календарь
                                    .mobile-col    
                                        .mobile-icon.map
                                        .mobile-subdesc Карта
                                    .mobile-col           
                                        .mobile-icon.clock    
                                        .mobile-subdesc Часы
                                    .mobile-col    
                                        .mobile-icon.shop     
                                        .mobile-subdesc Магазин
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.cum
                                        .mobile-subdesc Камера
                                    .mobile-col    
                                        .mobile-icon.explorer
                                        .mobile-subdesc Интернет
                                    .mobile-col    
                                        .mobile-icon.contact    
                                        .mobile-subdesc Контакты
                                    .mobile-col    
                                        .mobile-icon.message     
                                        .mobile-subdesc Cообщения
                                .mobile-widget
                                    .mobile-col    
                                        .mobile-icon.auto
                                        .mobile-subdesc Эвакуатор
                                    .mobile-col    
                                        .mobile-icon.health
                                        .mobile-subdesc Здоровье
                                    .mobile-col    
                                        .mobile-icon.taxi    
                                        .mobile-subdesc Такси
                                    .mobile-col    
                                        .mobile-icon.settings     
                                        .mobile-subdesc Настройки
                                
                        .mobile-pagination
                    
                    
                .mobile-box
                    .mobile-phone
                        span.mobile-span 2
                    .mobile-message
                        span.mobile-span 2
                    .mobile-local 18:30
                    .mobile-network    
                    .mobile-battery

