extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.orange
                .mobile-container
                    .mobile-row
                        .mobile-info
                            .mobile-icons
                                span
                            .mobile-blocks
                                .mobile-head Max Temny
                                .mobile-text Уровень водителя: 3
                    .mobile-order
                        .mobile-now Текущий заказ:
                        .mobile-pagination
                            span
                            span
                            span
                            span            
                            span            
                            span    
                        .mobile-more
                            .mobile-leads
                                .mobile-name L.S. SubUrban
                                .mobile-road До заказчика: 24.32км.
                            .mobile-name L.S. SubUrban
                        .mobile-groups
                            .mobile-items
                                .mobile-times 00:09
                                .mobile-desc Время на поездку
                            button.mobile-btn Отменить
                    .mobile-statictic
                        button Статистика
                        button Поиск заказа
                    button.mobile-button Начать работу


