extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.message
                .mobile-container
                    .mobile-row
                        .mobile-inner
                            a(href="").mobile-back
                                img(src="img/mobile-arrow-back.svg", alt="mobile-arrow-back")
                            .mobile-lead Сообщения 
                                span 3       
                        .mobile-add
                    .mobile-group
                        .mobile-all 
                            .mobile-avatar M
                                .online
                            .mobile-sms
                                .mobile-information
                                    .mobile-subtitle Max Temny
                                    .mobile-dates 23:00
                                .mobile-information
                                    .mobile-subdesc Привет. Как насчет совместных като...
                        .mobile-all 
                            .mobile-avatar A
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Alex Stepanov
                                    .mobile-dates Вчера
                                 .mobile-information
                                    .mobile-subdesc Слушай, хорошая была игра. Завтр...
                                    .mobile-notification 1
                        .mobile-all 
                            .mobile-avatar V
                                .online
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Viktor Frolov
                                    .mobile-dates Пятница
                                 .mobile-information
                                    .mobile-subdesc Чувак, ну ты конечно подвел.
                        .mobile-all 
                            .mobile-avatar N
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Nikita Kot
                                    .mobile-dates Пятница
                                 .mobile-information
                                    .mobile-subdesc Нормально мы их развалили. Аахах...
                                    .mobile-notification 2
                        .mobile-all 
                            .mobile-avatar N
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Nikimin
                                    .mobile-dates Вторник
                                 .mobile-information
                                    .mobile-subdesc Повторим в воскресенье?
                        .mobile-all 
                            .mobile-avatar L
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Loloshka
                                    .mobile-dates Вторник
                                 .mobile-information
                                    .mobile-subdesc Не знаю как тебе, а мне катка очень ...
                        .mobile-all 
                            .mobile-avatar S
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Stepout
                                    .mobile-dates 14 августа
                                 .mobile-information
                                    .mobile-subdesc Ахахахахахах. Ты серьезно?
                        .mobile-all 
                            .mobile-avatar X
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Xakers.li
                                    .mobile-dates 13 августа
                                 .mobile-information
                                    .mobile-subdesc Го катать? Я осовоболился
                        .mobile-all 
                            .mobile-avatar H
                                .online
                            .mobile-sms
                                 .mobile-information
                                    .mobile-subtitle Hedostup
                                    .mobile-dates 13 августа
                                 .mobile-information
                                    .mobile-subdesc Вчера нормально поиграли) Повтор...

                .mobile-box
                    .mobile-phone
                        span.mobile-span 2
                    .mobile-message
                        span.mobile-span 2
                    .mobile-local 18:30
                    .mobile-network    
                    .mobile-battery

