extends templates/layout

block main
    .mobile
        .mobile-item
            .mobile-bg.road
                .mobile-container
                    .mobile-row
                        .mobile-inners
                            a(href="").mobile-exit
                                img(src="img/mobile-road-arrow.svg", alt="mobile-arrow-back")
                        .mobile-end
                            .head Временно нет<br>свободных заказов.
                            .lead Пожалуйста, подождите,<br>мы ищем для вас заказ.
                            .box
                                .time 00:49
