extends templates/layout

block main
    .mouse
        .mouse-bg
            .mouse-content
                .circle  
                    .line
                    .button НАЧАТЬ

            .mouse-item
                .icon
                .text УДЕРЖИВАЙТЕ БАЛАНС <br>С ПОМОЩЬЮ МЫШКИ
