extends templates/layout

block main
    .mouse
        .mouse-bg
            .mouse-content
                .circle  
                    .line
                    .percent 
                        .number 24
                        