extends templates/layout

block main
    .main 
        .select-content
            .select-item
                img(src="img/main-logo.png", alt="main-logo").select-logo
                .select-box
                    h2.select-title Nikita_Shender
                    img(src="img/person.png", alt="").about-img
                    .select-desc
                        p ВЫБРАТЬ <br>ПЕРСОНАЖА
            .select-item
                img(src="img/attainment.png", alt="attainment").select-logo
                .select-box
                    h2.select-title Открыть<br>за достижение
                    img(src="img/person.png", alt="").about-img
            .select-item
                img(src="img/attainment.png", alt="attainment").select-logo
                .select-box
                    h2.select-title Купить слот<br>за 1500 Rich
                    img(src="img/person.png", alt="").about-img