extends templates/layout

block main
    .speedometr
        .speedometr-main
            .speedometr-bg
                .speedometr-blocks.speedometr-blocks--1
                    .speedometr-desc
                        p  20       
                    .speedometr-desc
                        p  240
                .speedometr-blocks.speedometr-blocks--2
                    .speedometr-desc
                        p  40     
                    .speedometr-desc
                        p  220
                .speedometr-blocks.speedometr-blocks--3
                    .speedometr-desc
                        p  60  
                    .speedometr-desc
                        p  210
                .speedometr-blocks.speedometr-blocks--4
                    .speedometr-desc
                        p  80 
                    .speedometr-desc
                        p  200
                .speedometr-blocks.speedometr-blocks--5
                    .speedometr-desc
                        p  100
                    .speedometr-desc
                        p  180
                .speedometr-blocks.speedometr-blocks--6
                    .speedometr-desc
                        p  120
                    .speedometr-desc
                        p  160
                .speedometr-blocks.speedometr-blocks--7
                    .speedometr-desc
                        p  140
                //- .speedometr-blocks.speedometr-blocks--3
                //-     .speedometr-desc
                //-         p  60  
                //-     .speedometr-desc
                //-         p  200
                .speedometr-speed
                    .speedometr-content
                        .swiper-container.speedometr-slider
                            .swiper-wrapper
                                .swiper-slide
                                    h3.speedometr-subtitle 982 <br>км/ч.
                                .swiper-slide
                                    h3.speedometr-subtitle 982 <br>км/ч.
                            .speedometr-navig
                                img(src="img/speed-arrow.svg", alt="arrow").arrow-left
                                img(src="img/speed-arrow--right.svg", alt="arrow").arrow-right
                        .speedometr-number
                            p 881293
                    .speedometr-arrow
                    .speedometr-more--first
                        .speedometr-icon.speedometr-icon--first 
                        .speedometr-info
                            .speedometr-icon.speedometr-icon--second 
                            .speedometr-icon.speedometr-icon--three
                    .speedometr-more--second
                        .speedometr-icon.speedometr-icon--four
                        .speedometr-info
                            .speedometr-icon.speedometr-icon--five
                            .speedometr-icon.speedometr-icon--six
            .speedometr-ellipse
                .speedometr-block
                    .speedometr-line.speedometr-line--top
                    .speedometr-line.speedometr-line--left
                    .speedometr-line.speedometr-line--right
                    .speedometr-arrow--small
                    .speedometr-text
                        p E
                    .speedometr-text.speedometr-text--bottom
                        p 1/2
                    .speedometr-text
                        p F
                        