extends templates/layout

block main
    .tablet
        .tablet-bg.blue
            
            .tablet-tab.blue
                .logo.policia
                .menu
                    ul
                        li
                            
                                .tablet-subtitle Сотрудники
                                .tablet-subdesc Изменить статус
                        li
                            
                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc Имя и Фамилия / ID
                        li
                            
                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc Имя и Фамилия / ID
                        li.active
                            
                                .tablet-subtitle Вызовы
                                .tablet-subdesc &nbsp
                                .tablet-notification 8
                        li
                            
                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc Имя и Фамилия / ID
                        li
                            
                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link
                            .tablet-subtext Новость штата
                            .tablet-date 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title Поиск автомобиля
                        button.tablet-btn.dark Назад к поиску  
                    .tablet-cabinet.flex
                        .tablet-searching Результаты поиска: 
                            span 1
                        .tablet-out
                            .tablet-inners
                                .tablet-icon.blue М
                                .info
                                    .more
                                        .tablet-phone.after 044 231
                                        .tablet-names Max Temny
                                    .tablet-dates Мужчина
                        .tablet-indent
                            .tablet-problem Номер автомобиля:
                                span  KRYST4L
                            .tablet-problem Автомобиль: 
                                span Laborghini Aventador
                                span  KRYST4L
                            .tablet-problem Основной цвет: 
                                span Желтый
                            .tablet-problem Дополнительный цвет: 
                                span Черный
                            .tablet-problem Дополнительный цвет: 
                                span Черный
                            .tablet-problem Дополнительный цвет: 
                                span Черный
                        .tablet-div
                            button.button.blue Выписать штраф
                            button.btn.blue Выписать штраф

