extends templates/layout

block main
    .tablet
        .tablet-bg.orange
            
            .tablet-tab.orange
                .logo.sheriff
                .menu
                    ul
                        li.orange

                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.orange Изменить статус
                        li.orange

                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.orange

                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.active.orange

                                .tablet-subtitle Вызовы
                                .tablet-subdesc.orange &nbsp
                                .tablet-notification.orange 8
                        li.orange

                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.orange

                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.orange &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.orange
                            .tablet-subtext Новость штата
                            .tablet-date.orange 30.08.19 / 20;42
                    .tablet-title.orange Вызовы
                .tablet-table
                    .tablet-blocks
                        .title.four.orange Имя и фамилия
                        .title.five.orange Причина
                        .title.six.orange Дистанция
                        .title.seven.orange &nbsp
                    .tablet-scroll
                        .tablet-more.orange
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.orange Принять
                        .tablet-more.orange
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.orange Принять
                        .tablet-more.orange
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.orange Принять
                        .tablet-more.orange
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.orange Принять