extends templates/layout

block main
    .tablet
        .tablet-bg.coral

            .tablet-tab.coral
                .logo.medic
                .menu
                    ul
                        li.active.coral
                            
                                .tablet-subtitle.coral Сотрудники
                                .tablet-subdesc.coral Изменить статус
                        li.coral
                            
                                .tablet-subtitle Вызовы
                                .tablet-subdesc.coral &nbsp
                                .tablet-notification.coral 8
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link.coral
                            .tablet-subtext Новость штата
                            .tablet-date.coral 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title.coral Сотрудники
                        button.tablet-btn.coral Пригласить
                .tablet-table
                    .tablet-blocks
                        .title.first.coral Имя и фамилия
                        .title.second.coral Должность
                        .title.three.coral Действие
                    .scroll
                        .tablet-more.coral
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.coral M
                                        .online
                                    .tablet-subtitle Max Temny
                            .tablet-items.second
                                .tablet-name.coral Sheriff
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.coral
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.coral F
                                        .online
                                    .tablet-subtitle Fedor Ivanovich
                            .tablet-items.second
                                .tablet-name.coral FBI
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.coral
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.coral A
                                        .online
                                    .tablet-subtitle Alexey Pankov
                            .tablet-items.second
                                .tablet-name.coral Police
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.coral
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.coral A
                                        .online
                                    .tablet-subtitle Andrey Popov
                            .tablet-items.second
                                .tablet-name.coral Police
                            .tablet-items.three
                                .tablet-setting.green   
