extends templates/layout

block main
    .tablet
        .tablet-bg.blue
            .tablet-tab.blue
                .logo.policia
                .menu
                    ul
                        li.active
                            .tablet-subtitle Сотрудники
                            .tablet-subdesc Изменить статус
                        li
                            .tablet-subtitle Выдача штрафов
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Выдача звезд
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Вызовы
                            .tablet-subdesc &nbsp
                            .tablet-notification 8
                        li
                            .tablet-subtitle Поиск гражданина
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Запросить помощь
                            .tablet-subdesc &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link
                            .tablet-subtext Новость штата
                            .tablet-date 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title Сотрудники
                        button.tablet-btn.blue Пригласить
                .tablet-table
                    .tablet-blocks
                        .title.first Имя и фамилия
                        .title.second Должность
                        .title.three Действие
                    .scroll
                        .tablet-more
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.blue M
                                        .online
                                    .tablet-subtitle Max Temny
                            .tablet-items.second
                                .tablet-name.blue Sheriff
                            .tablet-items.three
                                .tablet-setting
                        .tablet-more
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.blue F
                                        .online
                                    .tablet-subtitle Fedor Ivanovich
                            .tablet-items.second
                                .tablet-name.blue FBI
                            .tablet-items.three
                                .tablet-setting
                        .tablet-more
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.blue A
                                        .online
                                    .tablet-subtitle Alexey Pankov
                            .tablet-items.second
                                .tablet-name.blue Police
                            .tablet-items.three
                                .tablet-setting
                        .tablet-more
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.blue A
                                        .online
                                    .tablet-subtitle Andrey Popov
                            .tablet-items.second
                                .tablet-name.blue Police
                            .tablet-items.three
                                .tablet-setting