extends templates/layout

block main
    .tablet
        .tablet-bg.blue
            .tablet-tab.blue
                .logo.policia
                .menu
                    ul
                        li
                            .tablet-subtitle Сотрудники
                            .tablet-subdesc Изменить статус
                        li
                            .tablet-subtitle Выдача штрафов
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Выдача звезд
                            .tablet-subdesc Имя и Фамилия / ID
                        li.active
                            .tablet-subtitle Вызовы
                            .tablet-subdesc &nbsp
                            .tablet-notification 8
                        li
                            .tablet-subtitle Поиск гражданина
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Запросить помощь
                            .tablet-subdesc &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link
                            .tablet-subtext Новость штата
                            .tablet-date 30.08.19 / 20;42
                    .tablet-title Вызов #3241 
                    .tablet-cabinet.before
                        .tablet-out
                            .tablet-inners
                                .tablet-icon.blue М
                                .info
                                    .more
                                        .tablet-phone.after 044-231
                                        .tablet-names Max Temny
                                    .tablet-dates 30.08.19 / 13:20
                                    .tablet-indents
                                        .tablet-problem Причина: 
                                            span Угон машины
                                        .tablet-problem Дистанция: 
                                            span 3.2км, SubLoand
                            .tablet-side
                                button.tablet-btn Запросить подмогу
                                button.tablet-btns Принять    
