extends templates/layout

block main
    .tablet
        .tablet-bg.orange
            
            .tablet-tab.orange
                .logo.sheriff
                .menu
                    ul
                        li.active.orange

                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.orange Изменить статус
                        li.orange

                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.orange

                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.orange

                                .tablet-subtitle Вызовы
                                .tablet-subdesc.orange &nbsp
                                .tablet-notification.orange 8
                        li.orange

                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.orange

                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.orange    &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.orange
                            .tablet-subtext Новость штата
                            .tablet-date.orange 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title.orange Сотрудники
                        button.tablet-btn.orange Пригласить
                .tablet-table
                    .tablet-blocks
                        .title.first.orange Имя и фамилия
                        .title.second.orange Должность
                        .title.three.orange Действие
                    .scroll
                        .tablet-more.orange
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.orange M
                                        .online
                                    .tablet-subtitle Max Temny
                            .tablet-items.second
                                .tablet-name.orange Sheriff
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.orange
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.orange F
                                        .online
                                    .tablet-subtitle Fedor Ivanovich
                            .tablet-items.second
                                .tablet-name.orange FBI
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.orange
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.orange A
                                        .online
                                    .tablet-subtitle Alexey Pankov
                            .tablet-items.second
                                .tablet-name.orange Police
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.orange
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.orange A
                                        .online
                                    .tablet-subtitle Andrey Popov
                            .tablet-items.second
                                .tablet-name.orange Police
                            .tablet-items.three
                                .tablet-setting.green

