extends templates/layout

block main
    .tablet
        .tablet-bg.orange
            .tablet-tab.orange
                .logo.sheriff
                .menu
                    ul
                        li.orange.orange

                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.orange Изменить статус
                        li.orange

                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.orange

                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.orange

                                .tablet-subtitle Вызовы
                                .tablet-subdesc.orange &nbsp
                                .tablet-notification.orange 8
                        li.orange

                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.orange Имя и Фамилия / ID
                        li.active.orange

                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.orange &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.orange
                            .tablet-subtext Новость штата
                            .tablet-date.orange 30.08.19 / 20;42
                    .tablet-title.orange Запросить помощь
                    .tablet-cart
                        .cart.green
                            .cart-title Медики
                            .cart-text Los Santos<br>Medical Center
                            .cart-logo.first
                        .cart.blue.orange
                            .cart-title Полиция
                            .cart-text Los Santos<br>Police Department
                            .cart-logo.second
                        .cart.black
                            .cart-title FIB 
                            .cart-text  Federal<br>Investigation Bureau
                            .cart-logo.three
                    button.tablet-button.orange Вызвать подмогу