extends templates/layout

block main
    .tablet
        .tablet-bg.brown
            
            .tablet-tab.brown
                .logo.policia
                .menu
                    ul
                        li.brown
                            
                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.brown Изменить статус
                        li.brown
                            
                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown
                            
                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.active.brown
                            
                                .tablet-subtitle Вызовы
                                .tablet-subdesc.brown &nbsp
                                .tablet-notification.brown 8
                        li.brown
                            
                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown
                            
                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.brown &nbsp
            
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link.brown
                            .tablet-subtext Новость штата
                            .tablet-date.brown 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title.brown Поиск автомобиля
                        button.tablet-btn.brown Назад к поиску  
                .tablet-table
                    .tablet-searching Результаты поиска: 
                        span 4
                    .tablet-blocks
                        .title.brown.four Номер
                        .title.brown.five Автомобиль
                        .title.brown.six Владелец
                        .title.brown.seven &nbsp
                    .tablet-scroll
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.brown Инфо
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Ferrari VKM
                            .tablet-items.six
                                .tablet-subtext Ivan Efremov
                            .tablet-items.seven
                                button.info.brown  Инфо
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.brown  Инфо
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.brown  Инфо
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.brown  Инфо


