extends templates/layout

block main
    .tablet
        .tablet-bg.blue
            .tablet-tab.blue
                .logo.policia
                .menu
                    ul
                        li
                            .tablet-subtitle Сотрудники
                            .tablet-subdesc Изменить статус
                        li
                            .tablet-subtitle Выдача штрафов
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Выдача звезд
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Вызовы
                            .tablet-subdesc &nbsp
                            .tablet-notification 8
                        li
                            .tablet-subtitle Поиск гражданина
                            .tablet-subdesc Имя и Фамилия / ID
                        li.active
                            .tablet-subtitle Запросить помощь
                            .tablet-subdesc &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link
                            .tablet-subtext Новость штата
                            .tablet-date 30.08.19 / 20;42
                    .tablet-title Запросить помощь
                    .tablet-cart
                        .cart.green
                            .cart-title Медики
                            .cart-text Los Santos<br>Medical Center
                            .cart-logo.first
                        .cart.blue 
                            .cart-title Полиция
                            .cart-text Los Santos<br>Police Department
                            .cart-logo.second
                        .cart.black
                            .cart-title FIB 
                            .cart-text  Federal<br>Investigation Bureau
                            .cart-logo.three
                    button.tablet-button Вызвать подмогу