extends templates/layout

block main
    .tablet
        .tablet-bg.brown
            

            .tablet-tab.brown
                .logo.fib
                .menu
                    ul
                        li.brown
                            
                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.brown Изменить статус
                        li.brown
                            
                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown
                            
                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.active.brown
                            
                                .tablet-subtitle Вызовы
                                .tablet-subdesc.brown &nbsp
                                .tablet-notification.brown 8
                        li.brown
                            
                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown
                            
                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.brown &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link.brown
                            .tablet-subtext Новость штата
                            .tablet-date.brown 30.08.19 / 20;42
                    .tablet-inner.brown
                        .tablet-title.brown Поиск автомобиля
                        button.tablet-btn.brown Назад к поиску  
                    .tablet-cabinet.flex
                        .tablet-searching Результаты поиска: 
                            span 1
                        .tablet-out
                            .tablet-inners
                                .tablet-icon.brown М
                                .info
                                    .more
                                        .tablet-phone.brown.after 044 231
                                        .tablet-names Max Temny
                                    .tablet-dates.brown Мужчина
                        .tablet-indent
                            .tablet-problem Место проживания: 
                                span LosSantos
                            .tablet-problem Место работы:
                                span  Rich Taxi
                            .tablet-problem В розыске: 
                                span  нет
                            .tablet-problem Кол-во преступлений: 
                                span  12
                            .tablet-problem Живет в штате: 
                                span  1 год
                            .tablet-problem Автомобиль: 
                                span  Lamborghini Aventador
                        .tablet-div
                            button.button.brown Выписать штраф
                            button.btn.brown Выписать штраф

