extends templates/layout

block main
    .tablet
        .tablet-bg.green.greens
            .tablet-tab.green
                .logo.army
                .menu
                    ul
                        li.green
                            .tablet-subtitle Список солдат
                            .tablet-subdesc.green Изменить статус
                        li.active.green
                            .tablet-subtitle Склад
                            .tablet-subdesc &nbsp

            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more.green
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.green
                            .tablet-subtext Новость штата
                            .tablet-date.green 30.08.19 / 20;42
                    .tablet-title.green Склад
                .tablet-table
                    .tablet-blocks
                        .title.green.eight Имя и фамилия
                        .title.green.eight Должность
                    .tablet-more.green
                        .desc.first Склад боеприпасов #1  
                        .number.first 19340 / 
                            span 30000 
                    .tablet-more.green
                        .desc.first Склад боеприпасов #1  
                        .number.first 19340 / 
                            span 30000 
