extends templates/layout

block main
    .tablet
        .tablet-bg.blue
            
            .tablet-tab.blue
                .logo.policia
                .menu
                    ul
                        li
                            
                                .tablet-subtitle Сотрудники
                                .tablet-subdesc Изменить статус
                        li
                            
                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc Имя и Фамилия / ID
                        li
                            
                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc Имя и Фамилия / ID
                        li.active
                            
                                .tablet-subtitle Вызовы
                                .tablet-subdesc &nbsp
                                .tablet-notification 8
                        li
                            
                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc Имя и Фамилия / ID
                        li
                            
                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc &nbsp
            
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link
                            .tablet-subtext Новость штата
                            .tablet-date 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title Поиск автомобиля
                        button.tablet-btn.dark Назад к поиску  
                .tablet-table
                    .tablet-searching Результаты поиска: 
                        span 4
                    .tablet-blocks
                        .title.dark.four Номер
                        .title.dark.five Автомобиль
                        .title.dark.six Владелец
                        .title.dark.seven &nbsp
                    .tablet-scroll
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.dark Инфо
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Ferrari VKM
                            .tablet-items.six
                                .tablet-subtext Ivan Efremov
                            .tablet-items.seven
                                button.info.dark  Инфо
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.dark  Инфо
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.dark  Инфо
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext KRY24AL
                            .tablet-items.five
                                .tablet-subtext Lamborghini
                            .tablet-items.six
                                .tablet-subtext Maxim Temny
                            .tablet-items.seven
                                button.info.dark  Инфо


