extends templates/layout

block main
    .tablet
        .tablet-bg.brown
            
            .tablet-tab.brown
                .logo.fib
                .menu
                    ul
                        li.active.brown
                            
                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.brown Изменить статус
                        li.brown
                            
                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown
                            
                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown
                            
                                .tablet-subtitle Вызовы
                                .tablet-subdesc.brown &nbsp
                                .tablet-notification.brown 8
                        li.brown
                            
                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown
                            
                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.brown    &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link.brown
                            .tablet-subtext Новость штата
                            .tablet-date.brown 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title.brown Сотрудники
                        button.tablet-btn.sal Пригласить
                .tablet-table
                    .tablet-blocks
                        .title.first.brown Имя и фамилия
                        .title.second.brown Должность
                        .title.three.brown Действие
                    .scroll
                        .tablet-more.brown
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.brown M
                                        .online
                                    .tablet-subtitle Max Temny
                            .tablet-items.second
                                .tablet-name.brown Sheriff
                            .tablet-items.three
                                .tablet-setting.brown
                        .tablet-more.brown
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.brown F
                                        .online
                                    .tablet-subtitle Fedor Ivanovich
                            .tablet-items.second
                                .tablet-name.brown FBI
                            .tablet-items.three
                                .tablet-setting.brown
                        .tablet-more.brown
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.brown A
                                        .online
                                    .tablet-subtitle Alexey Pankov
                            .tablet-items.second
                                .tablet-name.brown Police
                            .tablet-items.three
                                .tablet-setting.brown
                        .tablet-more.brown
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.brown A
                                        .online
                                    .tablet-subtitle Andrey Popov
                            .tablet-items.second
                                .tablet-name.brown Police
                            .tablet-items.three
                                .tablet-setting.brown
