extends templates/layout

block main
    .tablet
        .tablet-bg.coral
            .tablet-tab.coral
                .logo.medic
                .menu
                    ul
                        li.coral
                        
                            .tablet-subtitle Сотрудники
                            .tablet-subdesc.white Изменить статус

                        li.active.coral
                        
                            .tablet-subtitle.coral Вызовы
                            .tablet-subdesc &nbsp
                            .tablet-notification.coral 8

            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link.coral
                            .tablet-subtext Новость штата
                            .tablet-date.coral 30.08.19 / 20;42
                    .tablet-title.coral  Вызовы
                .tablet-table
                    .tablet-blocks
                        .title.four.coral Имя и фамилия
                        .title.five.coral Причина
                        .title.six.coral Дистанция
                        .title.seven.coral &nbsp
                    .scroll
                        .tablet-more.coral
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.coral Принять
                        .tablet-more.coral
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.coral Принять
                        .tablet-more.coral
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.coral Принять
                        .tablet-more.coral  
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.coral Принять
                        .tablet-more.coral  
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.coral Принять
                        .tablet-more.coral  
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button.coral Принять