extends templates/layout

block main
    .tablet
        .tablet-bg.blue
            .tablet-tab.blue
                .logo.policia
                .menu
                    ul
                        li
                            .tablet-subtitle Сотрудники
                            .tablet-subdesc Изменить статус
                        li.active
                            .tablet-subtitle Выдача штрафов
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Выдача звезд
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Вызовы
                            .tablet-subdesc &nbsp
                            .tablet-notification 8
                        li
                            .tablet-subtitle Поиск гражданина
                            .tablet-subdesc Имя и Фамилия / ID
                        li  
                            .tablet-subtitle Запросить помощь
                            .tablet-subdesc &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        .tablet-link
                            .tablet-subtext Новость штата
                            .tablet-date 30.08.19 / 20;42
                    .tablet-title Выдача штрафов
                    form().tablet-form
                        .tablet-groups
                            .tablet-label Имя и Фамилия / ID
                            input(type="text",placeholder="Имя и Фамилия / ID")
                        .tablet-groups
                            .tablet-label Причина
                            textarea(type="text",placeholder="Причина")
                        .tablet-groups
                            .tablet-label Сумма
                            input(type="text",placeholder="Сумма")
                        button Выписать штраф
