extends templates/layout

block main
    .tablet
        .tablet-bg.greens.green
            .tablet-tab.green
                .logo.army
                .menu   
                    ul
                        li.active.green
                            .tablet-subtitle Список солдат
                            .tablet-subdesc.green Изменить статус
                        li.green
                            .tablet-subtitle Склад
                            .tablet-subdesc &nbsp

            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more.green
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.green
                            .tablet-subtext Новость штата
                            .tablet-date.green 30.08.19 / 20;42
                    .tablet-inner
                        .tablet-title.green Сотрудники
                        button.tablet-btn.green Пригласить
                .tablet-table
                    .tablet-blocks
                        .title.green.first Имя и фамилия
                        .title.green.second Должность
                        .title.green.three Действие
                    .scroll
                        .tablet-more.green
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.green M
                                        .online
                                    .tablet-subtitle Max Temny
                            .tablet-items.second
                                .tablet-name.green Sheriff
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.green
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.green F
                                        .online
                                    .tablet-subtitle Fedor Ivanovich
                            .tablet-items.second
                                .tablet-name.green FBI
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.green
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.green A
                                        .online
                                    .tablet-subtitle Alexey Pankov
                            .tablet-items.second
                                .tablet-name.green Police
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.green
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.green A
                                        .online
                                    .tablet-subtitle Andrey Popov
                            .tablet-items.second
                                .tablet-name.green Police
                            .tablet-items.three
                                .tablet-setting.green
                        .tablet-more.green
                            .tablet-items.first
                                .tablet-inform
                                    .tablet-avatar.green K
                                        .online
                                    .tablet-subtitle Kirill Sabirov
                            .tablet-items.second
                                .tablet-name.green FBI
                            .tablet-items.three
                                .tablet-setting.green
