extends templates/layout

block main
    .tablet
        .tablet-bg.blue.brown
            
            .tablet-tab.blue.brown
                .logo.fib
                .menu
                    ul
                        li.brown

                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.brown Изменить статус
                        li.brown

                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown

                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown

                                .tablet-subtitle Вызовы
                                .tablet-subdesc.brown &nbsp
                                .tablet-notification.brown 8
                        li.brown

                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.active.brown

                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.brown &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.brown
                            .tablet-subtext Новость штата
                            .tablet-date.brown 30.08.19 / 20;42
                    .tablet-title.brown Запросить помощь
                    .tablet-cart
                        .cart.green
                            .cart-title Медики
                            .cart-text Los Santos<br>Medical Center
                            .cart-logo.first
                        .cart.blue.brown
                            .cart-title Полиция
                            .cart-text Los Santos<br>Police Department
                            .cart-logo.second
                        .cart.black
                            .cart-title FIB 
                            .cart-text  Federal<br>Investigation Bureau
                            .cart-logo.three
                    button.tablet-button.brown Вызвать подмогу