extends templates/layout

block main
    .tablet
        .tablet-bg.blue
            .tablet-tab.blue
                .logo.policia
                .menu
                    ul
                        li
                            .tablet-subtitle Сотрудники
                            .tablet-subdesc Изменить статус
                        li
                            .tablet-subtitle Выдача штрафов
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Выдача звезд
                            .tablet-subdesc Имя и Фамилия / ID
                        li.active
                            .tablet-subtitle Вызовы
                            .tablet-subdesc &nbsp
                            .tablet-notification 8
                        li
                            .tablet-subtitle Поиск гражданина
                            .tablet-subdesc Имя и Фамилия / ID
                        li
                            .tablet-subtitle Запросить помощь
                            .tablet-subdesc &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link
                            .tablet-subtext Новость штата
                            .tablet-date 30.08.19 / 20;42
                    .tablet-title Вызовы
                .tablet-table
                    .tablet-blocks
                        .title.four Имя и фамилия
                        .title.five Причина
                        .title.six Дистанция
                        .title.seven &nbsp
                    .tablet-scroll
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять