extends templates/layout

block main
    .tablet
        .tablet-bg.brown
            
            .tablet-tab.brown
                .logo.fib
                .menu
                    ul
                        li.brown

                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.brown Изменить статус
                        li.brown

                                .tablet-subtitle Выдача штрафов
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown

                                .tablet-subtitle Выдача звезд
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.active.brown

                                .tablet-subtitle Вызовы
                                .tablet-subdesc.brown &nbsp
                                .tablet-notification.brown 8
                        li.brown

                                .tablet-subtitle Поиск гражданина
                                .tablet-subdesc.brown Имя и Фамилия / ID
                        li.brown

                                .tablet-subtitle Запросить помощь
                                .tablet-subdesc.brown &nbsp
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.brown
                            .tablet-subtext Новость штата
                            .tablet-date.brown 30.08.19 / 20;42
                    .tablet-title.brown Вызовы
                .tablet-table
                    .tablet-blocks
                        .title.four.brown Имя и фамилия
                        .title.five.brown Причина
                        .title.six.brown Дистанция
                        .title.seven.brown &nbsp
                    .tablet-scroll
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять
                        .tablet-more.brown
                            .tablet-items.four
                                .tablet-subtext Max Temny
                            .tablet-items.five
                                .tablet-subtext Угон машин...
                            .tablet-items.six
                                .tablet-subtext 3.2км, SubLo...
                            .tablet-items.seven
                                button Принять