extends templates/layout

block main
    .tablet
        .tablet-bg.coral
            .tablet-tab.coral
                .logo.medic
                .menu
                    ul
                        li.coral

                                .tablet-subtitle Сотрудники
                                .tablet-subdesc.white Изменить статус

                        li.active.coral

                                .tablet-subtitle.coral   Вызовы
                                .tablet-subdesc &nbsp
                                .tablet-notification.coral 8
            .tablet-content
                .tablet-container
                    .tablet-block       
                        .tablet-more
                            .tablet-head Los Santos
                            .tablet-head Police Department
                            .tablet-text База данных
                        a(href="").tablet-link.coral
                            .tablet-subtext Новость штата
                            .tablet-date.coral 30.08.19 / 20;42
                    .tablet-title.coral Вызов #3241 
                    .tablet-cabinet.before.coral
                        .tablet-out
                            .tablet-inners
                                .tablet-icon.coral М
                                .info
                                    .more
                                        .tablet-phone.coral.after 044-231
                                        .tablet-names Max Temny
                                    .tablet-dates.coral 30.08.19 / 13:20
                                    .tablet-indents
                                        .tablet-problem Причина: 
                                            span Угон машины
                                        .tablet-problem Дистанция: 
                                            span 3.2км, SubLoand
                            .tablet-side
                                button.tablet-btn.coral Запросить подмогу
                                button.tablet-btns.coral Принять    
